parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#(.*)?[cC]{1}lass (WP_Query|WP_Post) not found\.#'
        - '#.* on an unknown class (WP_Query|WP_Post)\.#'
        - '#Function [a-z\_]+ not found\.#'
        - '#Parameter \$post .* has invalid typehint type WP_Post\.#'
        - '#Constant .* not found\.#'